
body{
 background-color: gray;
 background-size: cover; background-repeat: no-repeat;
 TEXT-ALIGN: -webkit-center;
 MARGIN-TOP: 12%;
 OVERFLOW: HIDDEN;
}

.clock{
    position: relative; 
    border:5px solid silver; 
     width:30vw;
      height:30vw;    
      border-radius: 50%;
       background-color: black; 
      box-shadow: 10px 10px 5px silver;
      transform: skew(10deg);
  
}
.clock .number
{
    text-align: center;
    height: 100%;
    width:100%;
    position: absolute;
    /* background-color: yellow; */
}
.clock .number.no1
{
    transform: rotate(30deg); color: white; font-size: 1.8vw;
}
.clock .number.no2
{
    transform: rotate(60deg); color: white;font-size: 1.8vw;
}

.clock .number.no3
{
    transform: rotate(90deg); color: white;font-size: 1.8vw;
}

.clock .number.no4
{
    transform: rotate(120deg); color: white;font-size: 1.8vw;
}
.clock .number.no5
{
    transform: rotate(150deg);color: white;font-size: 1.8vw;
}
.clock .number.no6
{
    transform: translateY(95%);color: white;font-size: 1.8vw;
}
.clock .number.no7
{
    transform: rotate(210deg);color: white;font-size: 1.8vw;
}
.clock .number.no8
{
    transform: rotate(240deg);color: white;font-size: 1.8vw;
}
.clock .number.no9
{
    transform: rotate(270deg);color: white;font-size: 1.8vw;
}
.clock .number.no10
{
    transform: rotate(300deg);color: white;font-size: 1.8vw;
}
.clock .number.no11
{
    transform: rotate(330deg);color: white;font-size: 1.8vw;
}
.clock .number.no12
{
    color: white;font-size: 1.8vw;
}

#date_content{
    position: absolute; left:20%; top:60%; font-size: 1.5vw; color: white;
}

#month_content{
    position: absolute; left:55%; top:60%;font-size: 1.5vw; color: white;
}

#date{
    position: absolute; left:30%; top:60%; font-size: 1.5vw;display:inline; color: white; 
} 

#month{
    position: absolute; left:60%; top:60%;font-size: 1.5vw; color: white; 
}

#center{
    width: 1vw; height:1vw; left:50%; top:50%; position: absolute; background-color: white; transform: translate(-50%,-50%);
    border-radius: 100vw; z-index: 4;

}

.fas{
    position: absolute; left:47%; top:18%;font-size: 2.5vw; color: white;

}

#content{
    position: absolute; left:42%; top:20%;font-size: 2.5vw; color: white;

}



#n1{
    bottom: 50%; z-index: 3;
left:50%;border:1px solid white;  position: absolute; width:1.25%; height:30%; transform-origin: bottom;background-color: white;
border-radius: 50%;
}

#n2{
    bottom: 50%;border-radius: 50%;z-index: 3;
    left:50%; border:1px solid white;background-color:white;position: absolute;width:1%; height:40%;transform-origin: bottom;
    
}

#n3{
    bottom: 50%;border-radius: 50%;z-index: 3;
    left:50%; border:1px solid red; background-color:red;position: absolute;width:0.5%; height:45%;transform-origin: bottom;

}

.stop{
    font-size: 220%;
}

#time{

    color: white;  position: absolute; left:50%; top:60%; transform: translate(-50%,-50%);
    font-size: 2vw;

}
